.project_grid{
    display: grid;
    grid-template-columns: 30% 20% 30% 10% 10%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.216);
    &.header{
        background-color: var(--tertial-color);
        padding-top: 10px;
        padding-left: 10px;
    }
    &.item{
        font-size: small;
        padding-top: 10px;
        padding-left: 10px;
    }
    .full-details{
        background-color: var(--tertial-color);
        padding: 10px;
        margin-bottom: 10px;
        position: relative;
    }
    .text-small{
        font-size: small;
    }
}